<div class="login">
	<form role="form">

		<mat-form-field class="form-group"> <mat-label
			for="username">Username:</mat-label> <input matInput #username
			class="form-control" name="username" required email
			[(ngModel)]="credentials.username" /> </mat-form-field>
		<mat-form-field class="form-group"> <mat-label
			for="password">Password:</mat-label> <input matInput #password
			name="password" required [(ngModel)]="credentials.password" /> </mat-form-field>
		<button mat-button type="submit" (click)="login()"
			class="btn btn-primary">Submit</button>
		<button mat-button type="submit" (click)="register()"
			class="btn btn-primary">Register</button>
		<button mat-button (click)='requestAuth()'>Login With GitHub!</button>
	</form>

</div>