
<div class="footer">
	<div class="col-inline">
		<div class="col-header">Customers</div>

		<div class="col-elem">Shops</div>
		<div class="col-elem">Delivery</div>
		<div class="col-elem">Discounts</div>
		<div class="col-elem">FAQ</div>

	</div>
	<div class="col-inline">
		<div class="col-header">Online services</div>
		<div class="col-elem">Configurer</div>

		<div class="col-header">Rules</div>
		<div class="col-elem">Usage of information</div>
	</div>
	<div class="col-inline">
		<div class="col-header">Company</div>

		<div class="col-elem">About Company</div>
		<div class="col-elem">Service center</div>
		<div class="col-elem">Vacancies</div>
		<div class="col-elem">Requisites</div>

	</div>

</div>
