<div >
  <mat-toolbar>
  <mat-toolbar-row window:resize="onResized($event)" >
    <h1>NTech</h1>
      <a [ngClass]="styleA" routerLinkActive="menu-header" routerLink="/home">Catalog</a>
      <a [ngClass]="styleA" class="menu-header" *ngIf="!getAuthenticated()" routerLink="/loginpage">Login</a>
      <a [ngClass]="styleA" class="cart" *ngIf="getAuthenticated()"  >
        <div class="menu-header" routerLink="/cart">Cart</div>
        <div class = "item-amount menu-header" [ngClass]="{'invisible': (getCartItemsAmount()<=0)}">Items: {{getCartItemsAmount()}}</div>
      </a>
      <a [ngClass]="styleA" *ngIf="getUser()!=null && getAuthenticated()">
        <img [ngClass]="styleImg" src="http://localhost:8080/api/userphoto/{{getUser().imageId}}">
        <div> 
          <div>{{getUser().name}}</div>
          <button mat-flat-button color="primary" class="menu-header" (click)="logout()"> logout </button>
        </div>
      </a>

  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">Your choice for newest tech</span>
    </mat-toolbar-row>
</mat-toolbar>
</div>
